.story-dashboard .container {
  min-height: 600px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 30px 15px 15px;
  margin-top: 10px;
  position: relative;
  &::before {
    content: 'container';
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
  }
}

.story-dashboard .row [class*='col-'] {
  position: relative;
  background-color: #fff;
  margin: 15px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 39px 19px 24px;
  &::before {
    content: 'column';
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
  }
}
